#loader {
	background: linear-gradient(to bottom right, rgba(73,155,234,0.7),rgba(255,0,220,0.7));
	color: #fff;
	display: flex;
	font-size: 3em;
	height: 100vh;
	position: relative;
	width: 100vw;

	align-items: center;
	justify-content: center;
}
