nav {
	background-color: $nav-color;
	display: flex;
	height: $nav-height;
	padding: 0 24em;

	align-items: center;
	justify-content: space-between;

	#brand-wrapper {
		font-size: 1.1em;
	}

	#nav-btn-wrapper {
		.nav-icon {
			font-size: 1.25em;
		}
		#settings-icon {
			margin-left: 0.5em;
		}
	}
}




