$white: #fff;
$gray: #2e2e2e;
$black: #000;
$fonts: apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
$text-shadow: 0 3px 6px rgba(0,0,0,0.6);
$overlay-opacity: 0.4;
