doctype html
html
	head
		title weatherr
		//- base(href='/weatherr/')
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='author' content='James Lave' href='https://heyjam.es')
		link(rel='stylesheet' href='styles.css')

	body
		nav
			#brand-wrapper
				img#brand-icon
				|weatherr
			#nav-btn-wrapper
				i#refresh-icon.nav-icon.icon-arrows-cw
				i#settings-icon.nav-icon.icon-sliders

		main
			#weather-wrapper
				#current-wrapper
					#location.weather-item Chicago
					img#current-icon.weather-item(src='img/icons/sunny.png')
					#temp.weather-item 72 °F
				#forecast-text.weather-item Over the next 8 hours...
				#forecast-wrapper.weather-item
					#forecast-temp-wrapper.forecast-item
						img#forecast-temp-icon.forecast-icon(src='img/icons/temperature.png')
						|It's going to get cooler.
					#forecast-wind-wrapper.forecast-item
						img#forecast-wind-icon.forecast-icon(src='img/icons/wind.png')
						|It's going to get windier.
					#forecast-precip-wrapper.forecast-item
						img#forecast-precip-icon.forecast-icon(src='img/icons/raindrops.png')
						|It's going to stay dry.

		script(src='main.js')